<div class="flex flex-col items-center text-center gap-4 py-12">
	<img
		src="/myicon.png"
		alt="myicon"
		class="w-32 h-32 rounded-full"
	/>

	<div class="space-y-10">
		<h1 class="content-title-font text-4xl font-medium tracking-tight leading-none">
			独楽回しeddy(SpinnerEddy)
		</h1>

		<div class="max-w-xl text-gray-600 space-y-2">
			<p>ここは独楽回しeddyの個人制作についての記録ページです。</p>
			<p>個人制作では主にプログラミングでの動画、静止画作りをしております。</p>
			<p>主な使用言語 : p5.js, glsl, TypeScript, WebGL</p>
			<p>以前使ったことがある言語 : Processing, openframeworks(C++)</p>
		</div>
	</div>
</div>
