---
import { SITE_TITLE } from '../consts';
---

<div class="flex items-center gap-2">
	<img
		src="/myicon2.png"
		alt="myicon2"
		class="w-24 h-24 rounded-full"
	/>
	<span class="title-font text-4xl font-medium tracking-tight eading-none">
		{SITE_TITLE}
	</span>
</div>

